v0.1.2_outputs/*
intermediate_files/*
*.log
MIDORI.raw*
MIDORI_Tetrapoda.ITIS_mismatch_sp.txt
MIDORI_*.amp_blast.noN.mafft_edit.fa
.Rhistory
protaxmodels/*
w_protaxmodels/*
protaxout*
w_protaxout*
w_model_12S/
w_model_12S_oldsplist/
w_model_16S/
w_model_16S_oldsplist/
MIDORI_UNIQUE_1.2_srRNA_RDP.fasta
MIDORI_UNIQUE_1.2_lrRNA_RDP.fasta
MIDORI_srRNA.raw.fa
MIDORI_srRNA.keep_relabel.fa
MIDORI_srRNA.keep_dedup.fa
MIDORI_srRNA.keep.txt
MIDORI_srRNA.keep.fa
MIDORI_srRNA.amp_only.fa.nsq
MIDORI_srRNA.amp_only.fa.nin
MIDORI_srRNA.amp_only.fa.nhr
MIDORI_srRNA.amp_only.fa
MIDORI_srRNA.amp.fa
MIDORI_srRNA.amp.blastn
Tetrapoda_CoL_matched_taxonomy.txt
Tetrapoda_ITIS_taxonomy.txt
splist.csv
Tetrapoda.final_database.12S.fa
Tetrapoda.final_database.16S.fa
Tetrapoda.final_protax_taxonomy.txt
Tetrapoda.final_taxonomy_sativa_orig.txt
MIDORI_lrRNA.final_for_sativa.fa
MIDORI_srRNA.final_for_sativa.fa
intermediate_files.zip
MIDORI.seqs_to_retain.txt
MIDORI.taxonomy_status.txt
Tetrapoda.combined_taxonomy.txt
Tetrapoda.consensus_taxonomy.txt
Tetrapoda.missing_sp_to_delete.txt
extra_12S.fa
extra_16S.fa
archived_files/extra_16S.fa
archived_files/extra_12S.fa
