archived_files/MIDORI*
intermediate_files/*
*.log
MIDORI.raw*
MIDORI_Tetrapoda.ITIS_mismatch_sp.txt
MIDORI_*.amp_blast.noN.mafft_edit.fa
.Rhistory
protaxmodels/*
protaxout*
w_model_12S/
w_model_12S_oldsplist/
w_model_16S/
w_model_16S_oldsplist/
